<p>Your cart is empty</p>

<div id="cart-products" *ngIf="ItemAdd">
    <!-- <table>
        <tr *ngIf="{{ItemAdd[0]}}">
            <th> Product </th>
            <th> Picture </th>
            <th> Specifications </th>
            <th> Quantity </th>
            <th> Price </th>
            <th> Modify </th>
        </tr>
        <tr>
            <td> {{ItemAdd[0].name}} </td>
            <td></td>
            <td>
                <ul>
                    <li>{{ItemAdd[0].color}}</li>
                    <li>{{ItemAdd[0].weight}}</li>
                    <li>{{ItemAdd[0].color}}</li>
                    <li>{{ItemAdd[0].price}}</li>
                </ul>
            </td>
            <td> {{ItemAdd[0]}} </td>
            <td> {{ItemAdd[0].price}} </td>
            <td></td>
        </tr>

        <tr *ngIf="{{ItemAdd[1]}}">
            <td> {{ItemAdd[1].name}} </td>
            <td></td>
            <td>
                <ul>
                    <li>{{ItemAdd[1].color}}</li>
                    <li>{{ItemAdd[1].weight}}</li>
                    <li>{{ItemAdd[1].color}}</li>
                    <li>{{ItemAdd[1].price}}</li>
                </ul>
            </td>
            <td> {{ItemAdd[1]}} </td>
            <td> {{ItemAdd[1].price}} </td>
            <td></td>
        </tr>
        
        <tr *ngIf="{{ItemAdd[2]}}">
            <td> {{ItemAdd[2].name}} </td>
            <td></td>
            <td>
                <ul>
                    <li>{{ItemAdd[2].color}}</li>
                    <li>{{ItemAdd[2].weight}}</li>
                    <li>{{ItemAdd[2].color}}</li>
                    <li>{{ItemAdd[2].price}}</li>
                </ul>
            </td>
            <td> {{ItemAdd[2]}} </td>
            <td> {{ItemAdd[2].price}} </td>
            <td></td>
        </tr>
    </table> -->
</div>